<div class="container doctor">
  <div class="jumbotron">
    <h1> Doctor's clinic List </h1>
      <div class="row">
        <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> Address </th>
              <th> city </th>
              <th> Start time </th>
              <th> End time </th>
              <th> Show </th>
            </thead>
            <tbody>
              <% @clinics.each do |clinic| %>
                <tr>
                  <td><%= clinic.clinic_address %></td>
                  <td><%= clinic.city %></td>
                  <td><%= clinic.start.strftime("%I:%M%p") %></td>
                  <td><%= clinic.end.strftime("%I:%M%p") %></td>
                  <td><%= link_to 'Details', doctor_clinic_path(@doctor,clinic), :class => "btn btn-success" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-arrow-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
        </div>
      </div>
  </div>
</div>
