<h1> New Registration </h1>

<h3> Clinic Info: </h3>

<%= form_for @clinic, url: {action: "create"} do |f| %>

  <p>
    <%= f.label :clinic_address %><br>
    <%= f.text_field :clinic_address %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :phone_no %><br>
    <%= f.text_field :phone_no %>
  </p>

  <p>
    <%= f.label :start_time %>
    <%= f.time_field :start %>
    <%= f.label :end_time %>
    <%= f.time_field :end %>
  </p>

  <%= f.submit "Register" %>

<% end %>