<div class="container doctor">
  <div class="jumbotron">
    <h1> Dashboard </h1>
      <div class="row">
        <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> Email </th>
              <th> Role </th>
              <th> Button </th>
              <th> Action </th>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= link_to user.email, user %> </td>
                  <%= form_for(user) do |f| %>
                    <td><%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, { :class => "btn btn-info dropdown-toggle"}) %></td>
                    <td><%= f.submit 'Change Role', :class => "btn btn-success" %></td>
                  <% end %>
                    <td><%= link_to(('<i class="fa fa-trash fa-2x"></i>').html_safe, user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
  </div>
</div>