<div class="card center">
  <div class="card-header">
    <h1>Forgot your password?</h1>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Reset password",:class => "btn btn-primary" %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/error_messages", resource: resource %>

