<div class="row mt-5">
  <div class="col-md-12">
    <%= form_tag doctors_path, :method => 'get', :class => "form-inline active-cyan-4 index-form" do %>
      <%= text_field_tag :search, params[:search], :class => "form-control form-control-sm mr-3 index-search", :placeholder => "Enter name of doctor for search" %>
      <%= button_tag(type: "submit", class: "btn btn-default p-0") do %>
        <i class="fa fa-search fa-2x "></i>
      <% end %>
    <% end %>
  </div>
</div>


<div class="container doctor">
  <div class="jumbotron">
    <h1> Doctors List </h1>
      <div class="row">
        <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> Name </th>
              <th> Specialization </th>
              <th> city </th>
              <% if !current_user.admin? %>
                <th> Appointment </th>
              <% else %>
                <th> Details </th>
              <% end %>
            </thead>
            <tbody>
              <% @doctors.each do |doctor| %>
                <tr>
                  <td><%= doctor.first_name.capitalize! %></td>
                  <td><%= Category.find(doctor.category_id).category_name %></td>
                  <td><%= doctor.city %></td>
                  <td><% if !current_user.admin? %>
                      <%= link_to 'book', doctor_path(doctor), :class => "btn btn-success" %>
                      <% else %>
                      <%= link_to 'show', profile_path(doctor), :class => "btn btn-success" %>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-arrow-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
        </div>
      </div>
  </div>
</div>