<div class="container content shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row profile">
      <div class="col-md-3 border-right">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img src="https://media.rockstargames.com/chinatownwars/global/downloads/avatars/zhou_256x256.jpg" class="img-responsive" alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <% fname = @doctor.first_name.capitalize! %>
              <% lname = @doctor.last_name %>
              <%= fname + " " + lname %>
            </div>
            <div class="profile-usertitle-job">
              <%= Category.find(@doctor.category_id).category_name %>
            </div>
            <div class="appointment">
              Appointment
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm">Current</button>
            <button type="button" class="btn btn-danger btn-sm">Future</button>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu sidebar-sticky">
            <ul class="nav flex-column">
                <li class="list-group-item text-center"><span class="pull-left"><strong class=""></strong></span> <%= @doctor.address %></li>
                <li class="list-group-item text-center"><span class="pull-left"><strong class=""></strong></span><%= @doctor.city %>, <%= @doctor.state %> </li>
                <% if clinic_id %>
                <li class="list-group-item text-left text-muted" contenteditable="false">Clinic Details:</li>
                <li class="list-group-item text-center"><span class="pull-left"><strong class=""></strong></span><%= clinic_id.clinic_address %>, <%= clinic_id.city %>, <%= clinic_id.state %> </li>
                <li class="list-group-item text-center"><span class="pull-left"><strong class=""></strong></span><%= clinic_id.phone_no %></li>
                <% end %>
                <li class="list-group-item text-left text-muted" contenteditable="false">Contact Details:</li>
                <li class="list-group-item text-center"><span class="pull-left"><strong class=""></strong></span><%= User.find(@doctor.user_id).email %> </li>
                <li class="list-group-item text-center"><span class="pull-left"><strong class=""></strong></span>09159092245</li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-schedule-tab" data-toggle="tab" href="#nav-schedule" role="tab" aria-controls="nav-schedule" aria-selected="true">Schedule</a>
            <a class="nav-item nav-link" id="nav-today-list-tab" data-toggle="tab" href="#nav-today-list" role="tab" aria-controls="nav-today-list" aria-selected="false">Today's List</a>
            <a class="nav-item nav-link" id="nav-future-list-tab" data-toggle="tab" href="#nav-future-list" role="tab" aria-controls="nav-future-list" aria-selected="false">Future List</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
          </div>
        </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab">
              <div class="instruction">
              <ul>
                <li> For booking please choose your preferred date and time slot </li>
                <li> Grey slot - Past booked appointment </li>
                <li> Red slot - Today's booked appointment </li>
                <li> Green slot - Future booked appointment </li>
              </ul> 
              </div>
              <div id='calendar'></div>
            </div>
            <div class="tab-pane fade" id="nav-today-list" role="tabpanel" aria-labelledby="nav-today-list-tab">
            <% @today_schedules.each do |schedule| %>
              <%= render partial: "table", locals: {schedule: schedule} %>
            <% end %>
            </div>
            <div class="tab-pane fade" id="nav-future-list" role="tabpanel" aria-labelledby="nav-future-list-tab">
            <% @future_schedules.each do |schedule| %>
              <%= render partial: "table", locals: {schedule: schedule} %>
            <% end %>
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'schedules/new' %>