<h1> Profile : </h1>

<%= link_to 'Register', new_doctor_path %>

<% fname = @doctor.first_name.capitalize! %>
<% mname = @doctor.middle_name %>
<% lname = @doctor.last_name %>
<p> Name : <%= fname + " " + mname + " " + lname %> </p>
<p> Specialization : <%= Category.find(@doctor.category_id).category_name %></p>
<p> Address : <%= @doctor.address %> </p>
<p> city : <%= @doctor.city %> </p>
<p> State : <%= @doctor.state %> </p>
<p> Country : <%= @doctor.country %></p>

<%= render 'clinics/index' %>

<div id='calendar'></div>

<%= link_to 'Next', new_doctor_clinic_path(@doctor) %>
